<!-- <div class="container-fliud bgCat">
  <div class="container">
    <div *ngIf="listingData && listingData.category" class="swiper-container bgCatHolder" [swiper]="config">
      <div class="swiper-wrapper">
        <div *ngFor="let item of listingData.category" [ngClass]="item.id==params.subcatid?'active':''" class="swiper-slide catItem"
          data-swiper-autoplay="3000">
          <a [routerLink]="['/listing',params.cat,params.catid,item.name,item.id]">
            <i class="fa {{item.icon}}" aria-hidden="true"></i>
            <span class="catTitle"> {{item.name}}</span>
          </a>
        </div>
      </div>

      <div class="swiper-pagination"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
</div> -->

<div class="container-fluid breadcrumb">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul>
          <li>
            <a [routerLink]="['/home']">Home</a>
          </li>
          <li>
            <a [routerLink]="['/category',params.cat,params.catid]">{{params.cat}}</a>
          </li>
          <li>{{params.subcat}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>


<div class="container-fluid pageBg">
  <div class="container">
    <div class="row">

      <div class="col-md-3">
        <div *ngIf="listingData && listingData.adsv">
          <p *ngFor="let additem of listingData.adsv">
            <a href="{{additem.link}}" target="_blank">
              <img src="{{imgUrl}}{{additem.image}}" class="img-fluid" alt="{{additem.link}}">
            </a>
          </p>
        </div>
      </div>
      <div class="col-md-9">
        <div *ngIf="listingData && listingData.adsh && listingData.listing.length>0">
          <p *ngFor="let additem of listingData.adsh | slice:0:1">
            <a href="{{additem.link}}" target="_blank">
              <img src="{{imgUrl}}{{additem.image}}" class="img-fluid" alt="{{additem.link}}">
            </a>
          </p>
        </div>
        <div *ngIf="listingData && listingData.listing">
          <div *ngFor="let item of listingData.listing" class="row recentItem">
            <div class=" imgHolder">
              <div class="verify">
                <img src="assets/images/verify.jpg" alt="">
              </div>
              <!-- <img *ngIf="item.image" src="assets/images/2.jpg" class="img-fluid" alt=""> -->
              <img src="assets/images/noimage.jpg" class="img-fluid" alt="">
            </div>
            <div class="row itemDetails">
              <div class="col-md-9 address">
                <h5>{{item.buisnessname}}</h5>
                <p> {{item.addline1}} {{item.addline2}}, {{item.city}} - {{item.pin}}. {{item.state}},{{item.country}}</p>

                <div class="rating">8.5 Good</div>
                <div class="growSocial">
                  <span>
                    <i class="fa fa-share-alt" aria-hidden="true"></i>
                  </span>
                  <a href="">
                    <i class="fa fa-facebook" ceiboShare [facebook]="{u: repoUrl/item.bid}" aria-hidden="true"></i>
                  </a>
                  <a href="">
                    <i class="fa fa-twitter" ceiboShare [twitter]="{url:repoUrl/item.bid, text:'findacross', hashtags:'list your buisness, social, fa'}"
                      aria-hidden="true"></i>
                  </a>
                  <a href="">
                    <i class="fa fa-google-plus" ceiboShare [googlePlus]="{url:repoUrl/item.bid}" aria-hidden="true"></i>
                  </a>
                </div>
              </div>
              <div class="col-md-3 align-self-center">
                <!-- <button class="viewBtn">Enquiry</button> -->
                <button [routerLink]="['/detail',item.bid]" class="viewBtn">View More</button>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="listingData && listingData.listing.length==0">
          <h3>Data Not Found</h3>
        </div>
        <div *ngIf="listingData && listingData.adsh && listingData.listing.length>0">
          <p *ngFor="let additem of listingData.adsh | slice:1:2">
            <a href="{{additem.link}}" target="_blank">
              <img src="{{imgUrl}}{{additem.image}}" class="img-fluid" alt="{{additem.link}}">
            </a>
          </p>
        </div>

      </div>
    </div>
  </div>
</div>
