<div class="container-fliud bgCat">
  <div class="container">
    <div class="swiper-container bgCatHolder" [swiper]="config">
      <div class="swiper-wrapper">
        <div *ngFor="let item of category" class="swiper-slide catItem" data-swiper-autoplay="3000">
          <i class="fa {{item.icon}}" aria-hidden="true"></i>
          <span class="catTitle"> {{item.name}}</span>
        </div>
      </div>

      <div class="swiper-pagination"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
</div>

<div class="container-fluid breadcrumb">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul>
          <li>
            <a [routerLink]="['/home']">Home</a>
          </li>
          <li>
            <a [routerLink]="['/category']">Category</a>
          </li>
          <li>Selected Subategory</li>
        </ul>
      </div>
    </div>
  </div>
</div>


<div class="container-fluid pageBg">
  <div class="container">
    <div class="row">

      <div class="col-md-3">
        <img src="assets/images/add1.jpg" class="img-fluid" alt="">
      </div>
      <div class="col-md-9">
        <div class="row recentItem">
          <div class=" imgHolder">
            <div class="verify">
              <img src="assets/images/verify.jpg" alt="">
            </div>
            <img src="assets/images/2.jpg" class="img-fluid" alt="">
          </div>
          <div class="row itemDetails">
            <div class="col-md-9 address">
              <h5>Sparks Design Solutions</h5>
              <p> Shoo No.2, XYZ, Gavdevi Compound, Tembipada, Bhandup West, Mumbai - 40078.</p>

              <div class="rating">8.5 Good</div>
              <div class="growSocial">
                <span>
                  <i class="fa fa-share-alt" aria-hidden="true"></i>
                </span>
                <a href="">
                  <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
                <a href="">
                  <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
                <a href="">
                  <i class="fa fa-google-plus" aria-hidden="true"></i>
                </a>
              </div>
            </div>
            <div class="col-md-3 align-self-center">
              <button class="viewBtn">Enquiry</button>
              <button class="viewBtn">View More</button>
            </div>
          </div>
        </div>

        <div class="row recentItem">
          <div class=" imgHolder">
            <div class="verify">
              <img src="assets/images/verify.jpg" alt="">
            </div>
            <img src="assets/images/2.jpg" class="img-fluid" alt="">
          </div>
          <div class="row itemDetails">
            <div class="col-md-9 address">
              <h5>Sparks Design Solutions</h5>
              <p> Shoo No.2, XYZ, Gavdevi Compound, Tembipada, Bhandup West, Mumbai - 40078.</p>

              <div class="rating">8.5 Good</div>
              <div class="growSocial">
                <span>
                  <i class="fa fa-share-alt" aria-hidden="true"></i>
                </span>
                <a href="">
                  <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
                <a href="">
                  <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
                <a href="">
                  <i class="fa fa-google-plus" aria-hidden="true"></i>
                </a>
              </div>
            </div>
            <div class="col-md-3 align-self-center">
              <button class="viewBtn">Enquiry</button>
              <button class="viewBtn">View More</button>
            </div>
          </div>
        </div>
        <div class="row recentItem">
          <div class=" imgHolder">
            <div class="verify">
              <img src="assets/images/verify.jpg" alt="">
            </div>
            <img src="assets/images/2.jpg" class="img-fluid" alt="">
          </div>
          <div class="row itemDetails">
            <div class="col-md-9 address">
              <h5>Sparks Design Solutions</h5>
              <p> Shoo No.2, XYZ, Gavdevi Compound, Tembipada, Bhandup West, Mumbai - 40078.</p>

              <div class="rating">8.5 Good</div>
              <div class="growSocial">
                <span>
                  <i class="fa fa-share-alt" aria-hidden="true"></i>
                </span>
                <a href="">
                  <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
                <a href="">
                  <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
                <a href="">
                  <i class="fa fa-google-plus" aria-hidden="true"></i>
                </a>
              </div>
            </div>
            <div class="col-md-3 align-self-center">
              <button class="viewBtn">Enquiry</button>
              <button class="viewBtn">View More</button>
            </div>
          </div>
        </div>
        <div class="row recentItem">
          <div class=" imgHolder">
            <div class="verify">
              <img src="assets/images/verify.jpg" alt="">
            </div>
            <img src="assets/images/2.jpg" class="img-fluid" alt="">
          </div>
          <div class="row itemDetails">
            <div class="col-md-9 address">
              <h5>Sparks Design Solutions</h5>
              <p> Shoo No.2, XYZ, Gavdevi Compound, Tembipada, Bhandup West, Mumbai - 40078.</p>

              <div class="rating">8.5 Good</div>
              <div class="growSocial">
                <span>
                  <i class="fa fa-share-alt" aria-hidden="true"></i>
                </span>
                <a href="">
                  <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
                <a href="">
                  <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
                <a href="">
                  <i class="fa fa-google-plus" aria-hidden="true"></i>
                </a>
              </div>
            </div>
            <div class="col-md-3 align-self-center">
              <button class="viewBtn">Enquiry</button>
              <button class="viewBtn">View More</button>
            </div>
          </div>
        </div>
        <div class="row recentItem">
          <div class=" imgHolder">
            <div class="verify">
              <img src="assets/images/verify.jpg" alt="">
            </div>
            <img src="assets/images/2.jpg" class="img-fluid" alt="">
          </div>
          <div class="row itemDetails">
            <div class="col-md-9 address">
              <h5>Sparks Design Solutions</h5>
              <p> Shoo No.2, XYZ, Gavdevi Compound, Tembipada, Bhandup West, Mumbai - 40078.</p>

              <div class="rating">8.5 Good</div>
              <div class="growSocial">
                <span>
                  <i class="fa fa-share-alt" aria-hidden="true"></i>
                </span>
                <a href="">
                  <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
                <a href="">
                  <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
                <a href="">
                  <i class="fa fa-google-plus" aria-hidden="true"></i>
                </a>
              </div>
            </div>
            <div class="col-md-3 align-self-center">
              <button class="viewBtn">Enquiry</button>
              <button class="viewBtn">View More</button>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>
