<div class="container-fluid header">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <a [routerLink]="['/home']">
          <img src="assets/images/logo.png" alt="Findacross">
        </a>
      </div>
      <div class="col-md-6 right">
        <!-- <input class="form-control" type="text" name="search" placeholder="Search.."> -->
        <section class="main">

          <form class="search" method="post" action="index.html">
            <input type="text" class="form-control" autocomplete="off" [(ngModel)]="searchTerms" (ngModelChange)="search(searchTerms)"
              name="q" placeholder="Search..." />
            <ul *ngIf="searchData && searchTerms" class="results">
              <li *ngFor="let item of searchData">
                <a (click)="changeRoute(item.bid)">
                  <div class="title">{{item.buisnessname}}</div>
                  <span *ngIf="item.city">{{item.city}}</span>
                  <span *ngIf="item.state">, {{item.state}}</span>
                </a>
              </li>
            </ul>
          </form>
        </section>
        <!-- <i class="fa fa-map-marker" aria-hidden="true"></i>
        <span>{{selectedCity}}</span> -->
        <button *ngIf="!userData" class="addBtn" [routerLink]="['/addlisting']"> + List Your Buisness</button>
        <button *ngIf="!userData" class="addBtn" [routerLink]="['/login']">
          <i class="fa fa-user" aria-hidden="true"></i> Login</button>
        <span class="loginMenu" *ngIf="userData">
          <i class="fa fa-user" aria-hidden="true"></i>{{userData.details.bid}}
          <ul>
            <li [routerLink]="['/editprofile']">Profile</li>
            <li (click)="logout()">Logout</li>
          </ul>
        </span>
      </div>
    </div>
  </div>
