.header {
  background-color: #133782;
  padding: 9px;
  position: fixed;
  z-index: 99;
  height: 50px;
  top: 0px;
}


/* 
input[type=text] {
  width: 100px;
  float: right;
  padding: 3px 10px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}



input[type=text]:focus {
  width: 100%;
}

*/

input {
  font-family: 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 13px;
  color: #555860;
}

.main {
  display: inline-flex;
}

.search {
  position: relative;
  margin: 0 auto;
  width: 300px;
}

.search input:focus {
  outline: none;
  border-color: #0d40a5;
  box-shadow: 0 0 2px #0d40a5;
}

.search input:focus+.results {
  display: block
}

.search .results {
  display: none;
  position: absolute;
  top: 38px;
  left: 0;
  right: 0;
  z-index: 10;
  padding: 0;
  margin: 0;
  border-radius: 3px;
  background-color: #fdfdfd;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.search .results li {
  display: block
}

.search .results a {
  display: block;
  position: relative;
  cursor: pointer;
  margin: 0 -1px;
  padding: 6px 40px 6px 10px;
  color: #808394;
  font-weight: 500;
  text-shadow: 0 1px #fff;
  border: 1px solid transparent;
  border-radius: 3px;
}

.search .results a :hover {
  text-decoration: none;
  color: #fff;
}

.search .results a:hover {
  background: #a0de4857;
  text-decoration: none;
  /* color: #5507d3 */
}

.right {
  padding: 3px 0px;
  text-align: right;
}

.right i {
  font-size: 22spx;
  color: #a0de48;
  padding: 0px 5px;
}

.right span {
  margin-right: 10px;
  color: #fff;
  cursor: pointer;
}

.addBtn {
  background: transparent;
  border: 1px solid #ccc;
  color: #fff;
  margin-right: 10px;
  cursor: pointer;
}
