<div class="container-fluid footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        ©2015-{{currYear}} findacross.com™ All rights reserved.
      </div>
      <div class="col-md-6 right">
        <ul class="footer">
          <li [routerLink]="['/content','About Us']">
            About Us
          </li>
          <li [routerLink]="['/content','Privacy Policy']">
            Privacy Policy
          </li>
          <li [routerLink]="['/content','Disclaimer']">
            Disclaimer
          </li>
          <li [routerLink]="['/content','Terms and Conditions']">
            Terms and Conditions
          </li>
        </ul>
      </div>
    </div>
  </div>


  <!-- <go-top-button [html]="top" [animate]="true" [speed]="50" [acceleration]="2" [scrollDistance]="300" [styles]="{
       'border-radius': '20px 20px 20px 20px',
       'right': '5px',
       'color': 'green',
       'border': '5px solid',
       'line-height': '20px'
    }">
  </go-top-button> -->
</div>
