<div *ngIf="allCategoryData &&allCategoryData.length>0" class="container-fliud bgCat">
  <div class="container">
    <div class="swiper-container bgCatHolder" [swiper]="config">
      <div class="swiper-wrapper">
        <div *ngFor="let item of allCategoryData" class="swiper-slide catItem" [ngClass]="item.id==params.id?'active':''" data-swiper-autoplay="3000">
          <a [routerLink]="['/category',item.name,item.id]">
            <i class="fa {{item.icon}}" aria-hidden="true"></i>
            <span class="catTitle"> {{item.name}}</span>
          </a>
        </div>
      </div>

      <div class="swiper-pagination"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
</div>


<div class="container-fluid breadcrumb">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul>
          <li>
            <a [routerLink]="['/home']">Home</a>
          </li>
          <li>{{params.name}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid pageBg">
  <div class="container">
    <div *ngIf="categoryData && categoryData.length>0" class="row">
      <div *ngFor="let item of categoryData" class="col-md-3 categoryHolder">
        <a [routerLink]="['/listing',params.name,item.name,item.id]">
          <img src="http://localhost/fa/uploads/{{item.image}}" alt="{{item.name}}">
          <div class="catLabel">{{item.name}}</div>
        </a>
      </div>

    </div>

    <div *ngIf="categoryData && categoryData.length==0" class="row">
      <h3>Data Not Found</h3>
    </div>


  </div>
</div>
