<div class="container-fluid breadcrumb">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul>
          <li>
            <a [routerLink]="['/home']">Home</a>
          </li>

          <li>Edit Profie</li>
        </ul>
      </div>
    </div>
  </div>
</div>


<div class="container-fluid pageBg">
  <div class="container">

    <tabset>
      <tab title="Buisness Details">
        <form role="form" (ngSubmit)="saveData(listingData)" #addlisting="ngForm">
          <div class="row justify-content-center">
            <div class="col-md-6">
              <h4>Please Enter Buisness Details</h4>
              <hr>
            </div>
            <div class="col-md-3"></div>
          </div>
          <div class="row justify-content-center">
            <div class="col-md-6">
              <div class="form-group has-danger">
                <label class="sr-only" for="bid">Buisness Url</label>
                <!-- <label for="bid">Buisness Url</label> -->
                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                  <div class="input-group-addon" style="width: 2.6rem">
                    <i class="fa fa-link"></i>
                  </div>
                  <input type="text" readonly pattern="^\S*$" #bid="ngModel" [(ngModel)]="listingData.bid" name="bid" class="form-control"
                    id="bid" placeholder="findacross.com/businessname" required autofocus>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-control-feedback">
                <span [hidden]="bid.valid || bid.pristine" class="text-danger align-middle">
                  <div class="errDiv" [hidden]="!bid.hasError('required')">
                    <i class="fa fa-close"></i> Please Enter Buisness Url</div>

                  <div class="errDiv" [hidden]="!bid.hasError('pattern')">
                    <i class="fa fa-close"></i> Space not allowed in Url</div>
                  <!--  -->
                </span>
              </div>
            </div>
          </div>

          <div class="row justify-content-center">
            <div class="col-md-6">
              <div class="form-group has-danger">
                <label class="sr-only" for="bname">Buisness Name</label>
                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                  <div class="input-group-addon" style="width: 2.6rem">
                    <i class="fa fa-buysellads"></i>
                  </div>
                  <input type="text" #bname="ngModel" [(ngModel)]="listingData.buisnessname" name="bname" class="form-control" id="bname" placeholder="Business Name"
                    required autofocus>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-control-feedback">
                <span [hidden]="bname.valid || bname.pristine" class="text-danger align-middle">
                  <div class="errDiv" [hidden]="!bname.hasError('required')">
                    <i class="fa fa-close"></i> Please Enter Buisness Name </div>
                </span>
              </div>
            </div>
          </div>

          <div class="row justify-content-center">
            <div class="col-md-6">
              <div class="form-group has-danger">
                <label class="sr-only" for="bname">Contact Person</label>
                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                  <div class="input-group-addon" style="width: 2.6rem">
                    <i class="fa fa-buysellads"></i>
                  </div>
                  <input type="text" #cperson="ngModel" [(ngModel)]="listingData.cperson" name="cperson" class="form-control" id="cperson"
                    placeholder="Contact Person Name" required autofocus>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-control-feedback">
                <span [hidden]="cperson.valid || cperson.pristine" class="text-danger align-middle">
                  <div class="errDiv" [hidden]="!cperson.hasError('required')">
                    <i class="fa fa-close"></i> Please Enter Contact Person Name </div>
                </span>
              </div>
            </div>
          </div>



          <div class="row justify-content-center">
            <div class="col-md-6">
              <div class="form-group has-danger">
                <label class="sr-only" for="category">Category Name</label>
                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                  <div class="input-group-addon" style="width: 2.6rem">
                    <i class="fa fa-buysellads"></i>
                  </div>
                  <input type="text" readonly="true" #category="ngModel" [(ngModel)]="listingData.category" name="category" class="form-control"
                    id="category" placeholder="Business Name" required autofocus>
                </div>
              </div>
            </div>
            <div class="col-md-3">

            </div>
          </div>



          <div class="row justify-content-center">
            <div class="col-md-6">
              <div class="form-group has-danger">
                <label class="sr-only" for="subcategory">Subcategory Name</label>
                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                  <div class="input-group-addon" style="width: 2.6rem">
                    <i class="fa fa-buysellads"></i>
                  </div>
                  <input type="text" readonly="true" #subcategory="ngModel" [(ngModel)]="listingData.subcategory" name="subcategory" class="form-control"
                    id="subcategory" placeholder="Business Name" required autofocus>
                </div>
              </div>
            </div>
            <div class="col-md-3">

            </div>
          </div>

          <div class="row justify-content-center">
            <div class="col-md-6">
              <div class="form-group has-danger">
                <label class="sr-only" for="email">E-Mail Address</label>
                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                  <div class="input-group-addon" style="width: 2.6rem">
                    <i class="fa fa-at"></i>
                  </div>
                  <input type="text" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" #email="ngModel" [(ngModel)]="listingData.email"
                    name="email" class="form-control" id="email" placeholder="you@example.com" required autofocus>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-control-feedback">
                <span [hidden]="email.valid || email.pristine" class="text-danger align-middle">
                  <div class="errDiv" [hidden]="!email.hasError('required')">
                    <i class="fa fa-close"></i> Please Enter Email Address </div>
                  <div class="errDiv" [hidden]="!email.hasError('pattern')">
                    <i class="fa fa-close"></i>Please Enter Valid Email Address</div>
                </span>
              </div>
            </div>
          </div>


          <div class="row justify-content-center">
            <div class="col-md-6">
              <div class="form-group">
                <label class="sr-only" for="contact">Contact No</label>
                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                  <div class="input-group-addon" style="width: 2.6rem">
                    <i class="fa fa-phone"></i>
                  </div>
                  <input type="text" pattern="[0-9]*" #contact="ngModel" minlength="8" maxlength="10" [(ngModel)]="listingData.contact" name="contact"
                    class="form-control" id="contact" placeholder="Contact No">
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-control-feedback">
                <span [hidden]="contact.valid || contact.pristine" class="text-danger align-middle">
                  <div class="errDiv" [hidden]="!contact.hasError('pattern')">
                    <i class="fa fa-close"></i>Only numbers allowed</div>
                </span>
              </div>
            </div>
          </div>

          <div class="row justify-content-center">
            <div class="col-md-6">
              <div class="form-group">
                <label class="sr-only" for="mobile">Mobile No</label>
                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                  <div class="input-group-addon" style="width: 2.6rem">
                    <i class="fa fa-mobile"></i>
                  </div>
                  <input type="text" pattern="[0-9]*" #mobile="ngModel" minlength="10" maxlength="10" [(ngModel)]="listingData.mobile" name="mobile"
                    class="form-control" id="mobile" placeholder="Mobile No" required>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-control-feedback">
                <span [hidden]="mobile.valid || mobile.pristine" class="text-danger align-middle">
                  <!-- <div class="errDiv" [hidden]="!mobile.hasError('minlength')">
                        <i class="fa fa-close"></i> Mobile should be 10digit</div> -->
                  <div class="errDiv" [hidden]="!mobile.hasError('required')">
                    <i class="fa fa-close"></i> Please Enter Mobile No</div>
                  <div class="errDiv" [hidden]="!mobile.hasError('pattern')">
                    <i class="fa fa-close"></i>Only numbers allowed</div>
                </span>
              </div>
            </div>
          </div>

          <div class="row justify-content-center">
            <div class="col-md-6">
              <div class="form-group">
                <label class="sr-only" for="add">Address</label>
                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                  <div class="input-group-addon" style="width: 2.6rem">
                    <i class="fa fa-map-marker"></i>
                  </div>
                  <input type="text" #address="ngModel" [(ngModel)]="listingData.addline1" name="add" class="form-control" id="add" placeholder="Address"
                    required>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-control-feedback">
                <span [hidden]="address.valid || address.pristine" class="text-danger align-middle">
                  <div class="errDiv" [hidden]="!address.hasError('required')">
                    <i class="fa fa-close"></i> Please Enter Address </div>
                </span>
              </div>
            </div>
          </div>


          <div class="row justify-content-center">
            <div class="col-md-6">
              <div class="form-group">
                <label class="sr-only" for="landmark">Landmark</label>
                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                  <div class="input-group-addon" style="width: 2.6rem">
                    <i class="fa fa-map-marker"></i>
                  </div>
                  <input type="text" #landmark="ngModel" [(ngModel)]="listingData.addline2" name="landmark" class="form-control" id="landmark"
                    placeholder="Landmark" required>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-control-feedback">
                <span [hidden]="landmark.valid || landmark.pristine" class="text-danger align-middle">
                  <div class="errDiv" [hidden]="!landmark.hasError('required')">
                    <i class="fa fa-close"></i> Please Enter Landmark </div>
                </span>
              </div>
            </div>
          </div>


          <div class="row justify-content-center">
            <div class="col-md-6">
              <div class="form-group">
                <label class="sr-only" for="zip">Zip Code</label>
                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                  <div class="input-group-addon" style="width: 2.6rem">
                    <i class="fa fa-map-marker"></i>
                  </div>
                  <input type="text" pattern="[0-9]*" minlength="6" maxlength="6" [(ngModel)]="listingData.pin" #pin="ngModel" name="pin" class="form-control"
                    id="pin" placeholder="Zip Code" required>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-control-feedback">
                <span [hidden]="pin.valid || pin.pristine" class="text-danger align-middle">
                  <div class="errDiv" [hidden]="!pin.hasError('required')">
                    <i class="fa fa-close"></i> Please Enter Zip Code</div>
                  <div class="errDiv" [hidden]="!pin.hasError('pattern')">
                    <i class="fa fa-close"></i>Only numbers allowed</div>
                </span>
              </div>
            </div>
          </div>


          <div class="row justify-content-center">
            <div class="col-md-6">
              <div class="form-group">
                <label class="sr-only" for="city">City</label>
                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                  <div class="input-group-addon" style="width: 2.6rem">
                    <i class="fa fa-map-marker"></i>
                  </div>
                  <input type="text" [(ngModel)]="listingData.city" disabled name="city" class="form-control" id="city" placeholder="City"
                    required>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-control-feedback">
                <span class="text-danger align-middle">
                  <!-- Put password error message here -->
                </span>
              </div>
            </div>
          </div>

          <div class="row justify-content-center" style="padding-top: 1rem">

            <div class="col-md-6">
              <button [disabled]="!addlisting.form.valid" type="submit" class="btn btn-success">
                <i class="fa fa-save"></i> Submit</button>
              <span *ngIf="!addlisting.form.valid">Please Enter All Fields</span>
            </div>
            <div class="col-md-3"></div>
          </div>
        </form>



      </tab>
      <tab title="Other Details">
        <form role="form" (ngSubmit)="saveData(listingData)" #addlisting="ngForm">
          <!-- <app-ngx-editor [placeholder]="'Enter text here...'" [spellcheck]="true" [(ngModel)]="listingData.about"></app-ngx-editor> -->
          <div class="row justify-content-center">
            <div class="col-md-6">
              <div class="form-group">
                <label class="" for="about">About</label>
                <div class="input-group mb-2 mr-sm-2 mb-sm-0">

                  <app-ngx-editor name="about" #about="ngModel" required [placeholder]="'Enter text here...'" [spellcheck]="true" [(ngModel)]="listingData.about"></app-ngx-editor>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-control-feedback">
                <span [hidden]="about.valid || about.pristine" class="text-danger align-middle">
                  <div class="errDiv" [hidden]="!about.hasError('required')">
                    <i class="fa fa-close"></i> Please Enter About </div>
                </span>
              </div>
            </div>
          </div>

          <div class="row justify-content-center">
            <div class="col-md-6">
              <div class="form-group">
                <label class="sr-only" for="website">website</label>
                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                  <div class="input-group-addon" style="width: 2.6rem">
                    <i class="fa fa-globe"></i>
                  </div>
                  <input type="text" #website="ngModel" [(ngModel)]="listingData.website" name="website" class="form-control" id="website"
                    placeholder="Website Url" required>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-control-feedback">
                <span [hidden]="landmark.valid || landmark.pristine" class="text-danger align-middle">
                  <div class="errDiv" [hidden]="!landmark.hasError('required')">
                    <i class="fa fa-close"></i> Please Enter Landmark </div>
                </span>
              </div>
            </div>
          </div>



          <div class="row justify-content-center">
            <div class="col-md-6">
              <div class="form-group">
                <label class="sr-only" for="facebook">facebook</label>
                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                  <div class="input-group-addon" style="width: 2.6rem">
                    <i class="fa fa-facebook"></i>
                  </div>
                  <input type="text" #facebook="ngModel" [(ngModel)]="listingData.facebook" name="facebook" class="form-control" id="facebook"
                    placeholder="Facebook Url" required>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-control-feedback">
                <span [hidden]="facebook.valid || facebook.pristine" class="text-danger align-middle">
                  <div class="errDiv" [hidden]="!facebook.hasError('required')">
                    <i class="fa fa-close"></i> Please Enter Facebook Url </div>
                </span>
              </div>
            </div>
          </div>

          <div class="row justify-content-center">
            <div class="col-md-6">
              <div class="form-group">
                <label class="sr-only" for="twitter">twitter</label>
                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                  <div class="input-group-addon" style="width: 2.6rem">
                    <i class="fa fa-twitter"></i>
                  </div>
                  <input type="text" #twitter="ngModel" [(ngModel)]="listingData.twitter" name="twitter" class="form-control" id="twitter"
                    placeholder="Twitter Url" required>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-control-feedback">
                <span [hidden]="twitter.valid || twitter.pristine" class="text-danger align-middle">
                  <div class="errDiv" [hidden]="!twitter.hasError('required')">
                    <i class="fa fa-close"></i> Please Enter Twitter Url </div>
                </span>
              </div>
            </div>
          </div>


          <div class="row justify-content-center">
            <div class="col-md-6">
              <div class="form-group">
                <label class="sr-only" for="google">google</label>
                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                  <div class="input-group-addon" style="width: 2.6rem">
                    <i class="fa fa-google"></i>
                  </div>
                  <input type="text" #google="ngModel" [(ngModel)]="listingData.google" name="google" class="form-control" id="google" placeholder="Google Url"
                    required>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-control-feedback">
                <span [hidden]="google.valid || google.pristine" class="text-danger align-middle">
                  <div class="errDiv" [hidden]="!google.hasError('required')">
                    <i class="fa fa-close"></i> Please Enter Google Url</div>
                </span>
              </div>
            </div>
          </div>

          <div class="row justify-content-center">
            <div class="col-md-6">
              <div class="form-group">
                <label class="sr-only" for="linkedin">linkedin</label>
                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                  <div class="input-group-addon" style="width: 2.6rem">
                    <i class="fa fa-linkedin"></i>
                  </div>
                  <input type="text" #linkedin="ngModel" [(ngModel)]="listingData.linkedin" name="linkedin" class="form-control" id="linkedin"
                    placeholder="Linkedin Url" required>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-control-feedback">
                <span [hidden]="linkedin.valid || linkedin.pristine" class="text-danger align-middle">
                  <div class="errDiv" [hidden]="!linkedin.hasError('required')">
                    <i class="fa fa-close"></i> Please Enter Linkedin Url</div>
                </span>
              </div>
            </div>
          </div>

          <div class="row justify-content-center" style="padding-top: 1rem">

            <div class="col-md-6">
              <button [disabled]="!addlisting.form.valid" type="submit" class="btn btn-success">
                <i class="fa fa-save"></i> Submit</button>
              <span *ngIf="!addlisting.form.valid">Please Enter All Fields</span>
            </div>
            <div class="col-md-3"></div>
          </div>
        </form>

      </tab>



      <tab title="Images">
        <div class="row">
          <div class="col-md-12">
            <app-file-upload projectId="{{listingData.id}}" maxFiles="4" maxSize="2" fileExt="JPG, GIF, PNG" (uploadStatus)="refreshImages($event)">
            </app-file-upload>
          </div>
        </div>

        <div class="well">
          <img *ngFor="let img of images" [src]="'http://findacross.com/clients/' + img.thumbPath" class="img-thumbnail" alt="">
        </div>
      </tab>

    </tabset>








  </div>
</div>
