.moreCat {
  background-image: url('../../assets/images/bg-button.jpg');
  background-position: center center;
  background-size: cover;
  border-radius: 4px;
  margin: 0px;
}

.moreCat a {
  width: 100%;
  border-radius: 4px;
  text-align: center;
  line-height: 60px;
  font-size: 20px;
  color: #c7c2c2;
  background-color: #133782eb;
}

.moreCat a:hover {
  transition: all .5s;
  text-decoration: none;
  color: #e4dfdf !important;
  background-color: #133782f2 !important;
}

h4.title {
  color: #133782f2;
}
