

.moreCat{
    background-image: url('../../assets/images/bg-button.jpg');
    background-position: center center;
    background-size: cover;
    border-radius: 4px;
    margin: 0px;
}

.moreCat a{
    width: 100%;
    border-radius: 4px;
    text-align: center;
    line-height: 60px;
    font-size: 20px;
    color: #c7c2c2;
    background-color: #133782eb;
}

.moreCat a:hover {
    transition: all .5s;
    text-decoration: none;
    color: #e4dfdf !important;
    background-color: #133782f2 !important;
}

h4.title{
    color: #133782f2;
}

.recentItem{
    width: 100%;
    height: auto;
    background:#fff;
    margin: 0px 0px 20px 0px;
}

 .imgHolder{
    width:30%;
    position: relative;
}

.verify{
    position: absolute;
    left: 10px;
    top: 0px;   
}

 .itemDetails{
    width: 70%;
    padding: 15px 10px;
    margin: 0px;
}

.itemDetails h5{
    color: #133782f2;
}

.address:after{
    content: '';
    display: block;
    position: absolute;
    width: 0;
    top: 0;
    bottom: 0;
    right: 0;
    border-right: 2px dotted #D4D4D4;
}

.viewBtn{
    padding: 5px 8px;
    min-width: 90px;
    font-size: 12px;
    width: auto;
    margin-bottom: 10px;
    border: 1px solid #133782;
    border-radius: 4px;
    background: #fff;
    color: #4b4848;
    text-transform: uppercase;
    transition: all .5s;
}

.viewBtn:hover{
    background: #133782;;
    color: #f0eaea;
    cursor: pointer;
}


.growSocial {
   padding: 2px;
   border-radius: 50px 0px 0px 50px;
    width: 25px;
    height: 25px;
    right: 1px;
    bottom: 0px;
    overflow: hidden;
    position: absolute;
    transition: all 0.5s;
    text-align: center;
  }
.growSocial:hover {
    width: 140px;
}


.growSocial i{
    padding: 0px 5px;
    color: #a7a6ba;
}

.growSocial i.fa.fa-facebook:hover{
       color: #3b5998;
}

.growSocial i.fa.fa-twitter:hover{
    color: #0084b4;
}

.growSocial i.fa.fa-google-plus:hover{
    color: #d34836;
}

.growSocial span .fa.fa-share-alt{
    position: absolute;
    right: 0px;
    bottom: 0px;
    line-height: 26px;
    color: #1f3781;
    width: 25px;
    background: #f8f7f7;
    height: 25px;
  }

  .rating {
    color: #677fa9;
    font-size: 13px;
    font-weight: 600;
    position: relative;
    bottom: 2px;
}