.moreCat {
  background-image: url('../../assets/images/bg-button.jpg');
  background-position: center center;
  background-size: cover;
  border-radius: 4px;
  margin: 0px;
}

.moreCat a {
  width: 100%;
  border-radius: 4px;
  text-align: center;
  line-height: 60px;
  font-size: 20px;
  color: #c7c2c2;
  background-color: #133782eb;
  cursor: pointer;
}

.moreCat a:hover {
  transition: all .5s;
  text-decoration: none;
  color: #e4dfdf !important;
  background-color: #133782f2 !important;
}

h4.title {
  color: #133782f2;
}

ul.services {
  list-style: none;
  margin: 10px 0px 35px 0px;
  padding: 0px;
}

ul.services li {
  position: relative;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #666;
  padding: 24px 40px 24px 54px;
  border-bottom: 2px dotted #A1ADB9;
}

ul.services li a {
  display: block;
  color: inherit;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

ul.services li a:hover {
  text-decoration: none;
}

ul.services li span {
  display: block;
  font-weight: 400;
  font-size: 13px;
  color: #ABABAB;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

ul.services li a:hover i.fa-check {
  background-color: #133782f2;
  color: #fff;
  border: 2px solid #133782f2;
}

ul.services li a:hover i.fa-long-arrow-right {
  color: #133782f2;
}

.services i.fa-check {
  position: absolute;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 38px;
  border: 2px solid #D4D4D4;
  border-radius: 50%;
  font-size: 22px;
  left: 0;
  color: #73BD42;
  transition: all 0.3s ease;
}

.services i.fa-long-arrow-right {
  position: absolute;
  height: 34px;
  line-height: 34px;
  right: 0;
  font-size: 22px;
  color: #A6A6A6;
  transition: all 0.3s ease;
}
