<div *ngIf="homeData && homeData.slider.length>0" class="swiper-container" [swiper]="config">
  <div class="swiper-wrapper">
    <div *ngFor="let item of  homeData.slider" class="swiper-slide" data-swiper-autoplay="5000">
      <a href="{{item.link}}">
        <img src="{{imgUrl}}{{item.image}}" height="500" alt="" class="w3-animate-opacity">
      </a>
    </div>
  </div>
  <div class="swiper-scrollbar"></div>
  <div *ngIf="homeData.slider.length>1" class="swiper-pagination"></div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
</div>


<div class="container-fluid pageBg">
  <div class="container">
    <div *ngIf="homeData && homeData.category" class="row mt20">
      <div *ngFor="let item of homeData.category" class="col-md-3 categoryHolder">
        <a [routerLink]="['/category',item.name,item.id]">
          <img src="{{imgUrl}}{{item.image}}" alt="{{item.name}}">
          <div class="catLabel">{{item.name}}</div>
        </a>
      </div>


    </div>


    <!-- <div class="row moreCat"> -->
    <div *ngIf="homeData && homeData.category>8" class="row moreCat">
      <a (click)="showMoreCategory()"> More Categories</a>
    </div>




    <!-- <div class="row mt20">
      <div class="col-md-8" *ngIf="homeData && homeData.recentlyAdded">
         <tabset>
          <tab *ngIf="homeData && homeData.recentlyAdded" title="Recently Listed"> 
        <div *ngFor="let item of homeData.recentlyAdded" class="row recentItem">
          <div class=" imgHolder">
            <div class="verify">
              <img src="assets/images/verify.jpg" alt="">
            </div>
             <img *ngIf="item.image" src="assets/images/2.jpg" class="img-fluid" alt=""> 
            <img src="assets/images/2.jpg" class="img-fluid" alt="">
          </div>
          <div class="row itemDetails">
            <div class="col-md-9 address">
              <h5>{{item.buisnessname}}</h5>
              <p> {{item.addline1}} {{item.addline2}}, {{item.city}} - {{item.pin}}. {{item.state}},{{item.country}}</p>

              <div class="rating">8.5 Good</div>
              <div class="growSocial">
                <span>
                  <i class="fa fa-share-alt" aria-hidden="true"></i>
                </span>
                <a href="">
                  <i class="fa fa-facebook" ceiboShare [facebook]="{u: repoUrl}" aria-hidden="true"></i>
                </a>
                <a href="">
                  <i class="fa fa-twitter" ceiboShare [twitter]="{url:repoUrl, text:'findacross', hashtags:'list your buisness, social, fa'}"
                    aria-hidden="true"></i>
                </a>
                <a href="">
                  <i class="fa fa-google-plus" ceiboShare [googlePlus]="{url:repoUrl}" aria-hidden="true"></i>
                </a>
              </div>
            </div>
            <div class="col-md-3 align-self-center">
               <button class="viewBtn">Enquiry</button> 
              <button [routerLink]="['/detail',item.bid]" class="viewBtn">View More</button>
            </div>
          </div>
        </div>





         </tab>
          <tab title="Most Viewed">

          </tab>

      </tabset>


      </div>
      <div class="col-md-4">
        <h4 class="title" align="center">Grab your Space
          <i class="fa fa-hand-o-down" aria-hidden="true"></i>
        </h4>
        <div class="addSection">
          <img src="assets/images/add.png" class="img-fluid" alt="">
        </div>
        <ul class="services">

          <li>
            <a href="">
              <i class="fa fa-check" aria-hidden="true"></i>
              <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
              Manage your Profile Online
              <span>anytime and any where</span>
            </a>
          </li>
          <li>
            <a href="">
              <i class="fa fa-check" aria-hidden="true"></i>
              <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
              100% trusted reviews
              <span>We verify them in person</span>
            </a>
          </li>
          <li>
            <a href="">
              <i class="fa fa-check" aria-hidden="true"></i>
              <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
              24/7 support
              <span>anytime and any where</span>
            </a>
          </li>
        </ul>


      <iframe id="vp1ot4n2" title="Video Player" width="100%" height="350" frameborder="0" src="https://s3.amazonaws.com/embed.animoto.com/play.html?w=swf/production/vp1&e=1511700031&f=ot4n2jCJLdWcoSDULVi0Vg&d=0&m=p&r=360p&volume=100&start_res=360p&i=m&asset_domain=s3-p.animoto.com&animoto_domain=animoto.com&options="
          allowfullscreen></iframe> 
      </div>

    </div> -->
  </div>
</div>
