<div class="swiper-container" [swiper]="config">
    <div class="swiper-wrapper">
      <div style="height:500px" *ngFor="let item of  sliderImages" class="swiper-slide" data-swiper-autoplay="3000">
        <img src="{{item.image}}" alt="" class="w3-animate-opacity">
      </div>
    </div>
    <div class="swiper-scrollbar"></div>
    <div class="swiper-pagination"></div>
    <!-- <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div> -->
  </div>

<div class="container-fluid pageBg">
<div class="container">
<div class="row">

    <div class="col-md-3 categoryHolder">
        <a href=""> <img src="assets/images/category/14.jpg" class="img-fluid" alt="">
       <div class="catLabel">Restaurant</div>
       </a>
       </div>
       <div class="col-md-3 categoryHolder">
          <a href=""> <img src="assets/images/category/h1.jpg" class="img-fluid" alt="">
         <div class="catLabel">Restaurant</div>
         </a>
         </div>
         <div class="col-md-3 categoryHolder">
            <a href=""> <img src="assets/images/category/h2.jpg" class="img-fluid" alt="">
           <div class="catLabel">Restaurant</div>
           </a>
           </div>
           <div class="col-md-3 categoryHolder">
              <a href=""> <img src="assets/images/category/13.jpg" class="img-fluid" alt="">
             <div class="catLabel">Restaurant</div>
             </a>
             </div>
    
  <div class="col-md-3 categoryHolder">
 <a href=""> <img src="assets/images/category/11.jpg" class="img-fluid" alt="">
<div class="catLabel">Restaurant</div>
</a>
</div>
<div class="col-md-3 categoryHolder">
  <a href="">  
      <img src="assets/images/category/12.jpg" class="img-fluid" alt="">
      <div class="catLabel">Doctor</div>
    </a>
</div>
<div class="col-md-3 categoryHolder">
    <a href="">  
    <img src="assets/images/category/13.jpg" class="img-fluid" alt="">
    <div class="catLabel">Hospital</div>
    </a>  
  </div>
  <div class="col-md-3 categoryHolder">
      <a href="">  
    <img src="assets/images/category/14.jpg" class="img-fluid" alt="">
    <div class="catLabel">Hotel</div>
    </a>
  </div>
  </div>


  <div class="row moreCat">
   <a href=""> More Categories</a>
  </div>




<div class="row mt20">
  <div class="col-md-8">

    
      <tabset>
          <tab title="Recently Added">
              <div class="row recentItem">
                <div class=" imgHolder">
                    <div class="verify">
                      <img src="assets/images/verify.jpg" alt="">
                    </div>
                  <img src="assets/images/2.jpg" class="img-fluid" alt="">
                </div>
                <div class="row itemDetails">
                  <div class="col-md-9 address">
                      <h5>Sparks Design Solutions</h5>
                      <p> Shoo No.2, XYZ, Gavdevi Compound, Tembipada, Bhandup West, Mumbai - 40078.</p>
                      <div class="grow"> <span>Share</span>
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                      </div>
                   </div>
                   <div class="col-md-3 align-self-center">
                      <button class="viewBtn">Enquiry</button>
                   <button class="viewBtn">View More</button>
                   </div>
                 </div>
              </div>


              <div class="row recentItem">
                  <div class=" imgHolder">
                      <div class="verify">
                        <img src="assets/images/verify.jpg" alt="">
                      </div>
                    <img src="assets/images/1.jpg" class="img-fluid" alt="">
                  </div>
                  <div class="row itemDetails">
                    <div class="col-md-9 address">
                        <h5>Jungle Cubs Gym</h5>
                        <p> Shoo No.2, XYZ, anc landmark, location, city, Maharashtra ,India.</p>
                     </div>
                     <div class="col-md-3 align-self-center">
                        <button class="viewBtn">Enquiry</button>
                     <button class="viewBtn">View More</button>
                     </div>
                   </div>
                </div>

                <div class="row recentItem">
                    <div class=" imgHolder">
                        <div class="verify">
                          <img src="assets/images/verify.jpg" alt="">
                        </div>
                      <img src="assets/images/2.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="row itemDetails">
                      <div class="col-md-9 address">
                          <h5>Sparks Design Solutions</h5>
                          <p> Shoo No.2, XYZ, Gavdevi Compound, Tembipada, Bhandup West, Mumbai - 40078.</p>
                       </div>
                       <div class="col-md-3 align-self-center">
                          <button class="viewBtn">Enquiry</button>
                       <button class="viewBtn">View More</button>
                       </div>
                     </div>
                  </div>


                  <div class="row recentItem">
                      <div class=" imgHolder">
                          <div class="verify">
                            <img src="assets/images/verify.jpg" alt="">
                          </div>
                        <img src="assets/images/1.jpg" class="img-fluid" alt="">
                      </div>
                      <div class="row itemDetails">
                        <div class="col-md-9 address">
                            <h5>Sparks Design Solutions</h5>
                            <p> Shoo No.2, XYZ, Gavdevi Compound, Tembipada, Bhandup West, Mumbai - 40078.</p>
                         </div>
                         <div class="col-md-3 align-self-center">
                            <button class="viewBtn">Enquiry</button>
                         <button class="viewBtn">View More</button>
                         </div>
                       </div>
                    </div>

                    <div class="row recentItem">
                        <div class=" imgHolder">
                            <div class="verify">
                              <img src="assets/images/verify.jpg" alt="">
                            </div>
                          <img src="assets/images/3.jpg" class="img-fluid" alt="">
                        </div>
                        <div class="row itemDetails">
                          <div class="col-md-9 address">
                              <h5>Sparks Design Solutions</h5>
                              <p> Shoo No.2, XYZ, Gavdevi Compound, Tembipada, Bhandup West, Mumbai - 40078.</p>
                           </div>
                           <div class="col-md-3 align-self-center">
                              <button class="viewBtn">Enquiry</button>
                           <button class="viewBtn">View More</button>
                           </div>
                         </div>
                      </div>
          </tab>
          <tab title="Most Viewed">
              <div class="row recentItem">
                  <div class=" imgHolder">
                      <div class="verify">
                        <img src="assets/images/verify.jpg" alt="">
                      </div>
                    <img src="assets/images/2.jpg" class="img-fluid" alt="">
                  </div>
                  <div class="row itemDetails">
                    <div class="col-md-9 address">
                        <h5>Sparks Design Solutions</h5>
                        <p> Shoo No.2, XYZ, Gavdevi Compound, Tembipada, Bhandup West, Mumbai - 40078.</p>
                     </div>
                     <div class="col-md-3 align-self-center">
                        <button class="viewBtn">Enquiry</button>
                     <button class="viewBtn">View More</button>
                     </div>
                   </div>
                </div>
  
  
                <div class="row recentItem">
                    <div class=" imgHolder">
                        <div class="verify">
                          <img src="assets/images/verify.jpg" alt="">
                        </div>
                      <img src="assets/images/1.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="row itemDetails">
                      <div class="col-md-9 address">
                          <h5>Okirana.com</h5>
                          <p> Shoo No.2, XYZ, anc landmark, location, city, Maharashtra ,India.</p>
                       </div>
                       <div class="col-md-3 align-self-center">
                          <button class="viewBtn">Enquiry</button>
                       <button class="viewBtn">View More</button>
                       </div>
                     </div>
                  </div>
  
                  <div class="row recentItem">
                      <div class=" imgHolder">
                          <div class="verify">
                            <img src="assets/images/verify.jpg" alt="">
                          </div>
                        <img src="assets/images/2.jpg" class="img-fluid" alt="">
                      </div>
                      <div class="row itemDetails">
                        <div class="col-md-9 address">
                            <h5>Hariom Logistics</h5>
                            <p> Shoo No.2, XYZ, Gavdevi Compound, Tembipada, Bhandup West, Mumbai - 40078.</p>
                         </div>
                         <div class="col-md-3 align-self-center">
                            <button class="viewBtn">Enquiry</button>
                         <button class="viewBtn">View More</button>
                         </div>
                       </div>
                    </div>
  
  
                    <div class="row recentItem">
                        <div class=" imgHolder">
                            <div class="verify">
                              <img src="assets/images/verify.jpg" alt="">
                            </div>
                          <img src="assets/images/1.jpg" class="img-fluid" alt="">
                        </div>
                        <div class="row itemDetails">
                          <div class="col-md-9 address">
                              <h5>Sparks Design Solutions</h5>
                              <p> Shoo No.2, XYZ, Gavdevi Compound, Tembipada, Bhandup West, Mumbai - 40078.</p>
                           </div>
                           <div class="col-md-3 align-self-center">
                              <button class="viewBtn">Enquiry</button>
                           <button class="viewBtn">View More</button>
                           </div>
                         </div>
                      </div>
  
                      <div class="row recentItem">
                          <div class=" imgHolder">
                              <div class="verify">
                                <img src="assets/images/verify.jpg" alt="">
                              </div>
                            <img src="assets/images/3.jpg" class="img-fluid" alt="">
                          </div>
                          <div class="row itemDetails">
                            <div class="col-md-9 address">
                                <h5>Sparks Design Solutions</h5>
                                <p> Shoo No.2, XYZ, Gavdevi Compound, Tembipada, Bhandup West, Mumbai - 40078.</p>
                             </div>
                             <div class="col-md-3 align-self-center">
                                <button class="viewBtn">Enquiry</button>
                             <button class="viewBtn">View More</button>
                             </div>
                           </div>
                        </div>
          </tab>
        
      </tabset>

      
  </div>
  <div class="col-md-4">
<h4 class="title">Why choose our Services?</h4>
  </div>

</div>
</div>
</div>