<div class="container-fluid breadcrumb">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul>
          <li>
            <a [routerLink]="['/home']">Home</a>
          </li>
          <li>
            <a [routerLink]="['/category']">Category</a>
          </li>
          <li>
            <a [routerLink]="['/listing']">Subcategory</a>
          </li>
          <li>Sparks Design Solutions</li>
        </ul>
      </div>
    </div>
  </div>
</div>



<div class="container-fluid pageBg">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1 class="title">Sparks Design Solutions</h1>
        <div class="add">
          <i class="fa fa-map-marker" aria-hidden="true"></i>
          Jungle Cubs Gym 90 Feet Road, Oop. Ganesh Temple Ghatkopar (East)
        </div>
        <div class="call">
          <i class="fa fa-phone" aria-hidden="true"></i>
          +12 34567890 | 022 12345678
        </div>
        <div class="email">
          <a href="">
            <i class="fa fa-envelope" aria-hidden="true"></i>
            Send Email Inquiry</a>
        </div>

        <div class="row profile">
          <div class="col-md-4">
            <span class="ratingBox">8.5</span>
            <h6>Average rating</h6>
            GOOD
          </div>
          <div class="col-md-4">
            <h6 class="verified">Verified</h6>
          </div>
          <div class="col-md-4">
            <h6> Views</h6>100</div>
        </div>

        <div class="row services">
          <div class="col md-12">
            <h3>Services</h3>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <img src="assets/images/category/1.jpg" class="img-fluid" alt="">
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <tabset>
          <tab title="About">asdadsasda
          </tab>
          <tab title="Reviews & Rating">
          </tab>

        </tabset>
      </div>
    </div>
  </div>
</div>
