.pageBg {
  background-color: #f7f7f7;
  padding: 20px !important;
}

h1.title {
  font-size: 30px;
  color: #133782;
  /* text-align: center; */
  margin-bottom: 10px;
}

.add {
  color: #666;
  margin-bottom: 7px;
}

.call {
  color: #666;
  margin-bottom: 7px;
}

.email a {
  color: #666;
  margin-bottom: 7px;
}

.email a:hover {
  color: #133782;
  text-decoration: none;
}

.email i {
  color: #133782;
}

.profile {
  margin-top: 20px;
  color: #666;
}

.profile .ratingBox {
  display: inline-block;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 4px;
  font-weight: 600;
  font-size: 16px;
  color: #fff;
  float: left;
  margin-right: 10px;
  background: #55A649;
}

.profile h6 {
  margin-bottom: 2px;
  font-weight: 600;
  font-size: 14px;
}

h6.verified {
  /* background-image: url("../../assets/images/verify.jpg"); */
}

.services {
  margin-top: 25px;
}

.services h3 {
  font-size: 22px;
  padding: 5px 0px;
  color: #133782;
  border-bottom: 2px solid #ccc;
}

.addBanner {
  margin: 20px 0px;
}

.extraDetails {
  margin: 20px 0px;
}

.callEnq i {
  color: #22347f;
  font-size: 24px;
  background: #ddd;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  top: 10px;
}

.callEnq span {
  font-size: 20px;
  color: #5c5c5c;
  margin: 0px 10px;
}

form.contactUs {
  margin-top: 25px;
  border: 2px solid #22347f;
  padding: 20px 20px 45px 20px;
  border-radius: 4px;
  background: #fff;
  overflow: hidden;
  position: relative;
}

.contactUs h2 {
  font-size: 22px;
  color: #22347f;
  margin-bottom: 20px;
}

.form-control {
  background-color: #f8f7f7;
  padding: 4px 10px;
  border-radius: 0px;
  font-size: 13px;
}

form.contactUs textarea {
  background-color: #f8f7f7;
  width: 100%;
  border: 1px solid #ced4da;
  max-height: 120px;
  min-height: 120px;
}

.btn-fa {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  color: #fff;
  overflow: hidden;
  background-color: #22347f;
  border-radius: 0px;
}

.btn-fa i {
  margin-right: 10px;
}

.btn-fa:hover {
  background: #54a748;
  cursor: pointer;
}

.slideImg {
  width: 95%;
  margin: 10px 0px;
  border: 2px solid #1f3781;
  cursor: pointer;
}

.btnReview {
  background-color: #1f3781;
}

.reviewBox {
  background: #fff;
  width: 100%;
  margin: 20px 0px;
  height: 0px;
  transition: all 0.5s;
  opacity: 0;
}

.reviewBox.active {
  height: 435px;
  padding: 15px;
  opacity: 1;
}

.reviewSubmit {
  background: #22347f;
  border: 1px solid #0d1b55;
  margin-left: 15px;
}

ul.review {
  list-style: none;
  padding: 0px;
}

ul.review li {
  background: #fff;
  padding: 10px 15px;
  margin: 10px 0px;
  border-radius: 4px;
}

.date {
  float: right;
  font-weight: bold;
}

.name {
  font-size: 15px;
  font-weight: bold;
}

ul.services {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.services li {
  width: 49%;
  display: inline-block;
  padding: 8px 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

ul.services li i.fa {
  color: #1f3781;
  padding-right: 5px;
}
