<div class="container-fluid breadcrumb">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul>
          <li>
            <a [routerLink]="['/home']">Home</a>
          </li>
          <li>
            <a [routerLink]="['/category']">Category</a>
          </li>
          <li>
            <a [routerLink]="['/listing']">Subcategory</a>
          </li>
          <li>Sparks Design Solutions</li>
        </ul>
      </div>
    </div>
  </div>
</div>



<div class="container-fluid pageBg">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1 class="title">Sparks Design Solutions</h1>
        <div class="add">
          <i class="fa fa-map-marker" aria-hidden="true"></i>
          Jungle Cubs Gym 90 Feet Road, Oop. Ganesh Temple Ghatkopar (East)
        </div>
        <div class="call">
          <i class="fa fa-phone" aria-hidden="true"></i>
          +12 34567890 | 022 12345678
        </div>
        <div class="email">
          <a href="">
            <i class="fa fa-envelope" aria-hidden="true"></i>
            Send Email Inquiry</a>
        </div>

        <div class="row profile">
          <div class="col-md-4">
            <span class="ratingBox">8.5</span>
            <h6>Average rating</h6>
            GOOD
          </div>
          <div class="col-md-4">
            <h6 class="verified">Verified</h6>
          </div>
          <div class="col-md-4">
            <h6> Views</h6>100</div>
        </div>

        <div class="row services">
          <div class="col md-12">
            <h3>Services</h3>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <img src="assets/images/category/1.jpg" class="img-fluid" alt="">
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 addBanner">
        <img src="assets/images/add.jpg" alt="">
      </div>
    </div>

    <div class="row extraDetails">
      <div class="col-md-6">
        <iframe id="vp1ot4n2" title="Video Player" width="100%" height="350" frameborder="0" src="https://s3.amazonaws.com/embed.animoto.com/play.html?w=swf/production/vp1&e=1511700031&f=ot4n2jCJLdWcoSDULVi0Vg&d=0&m=p&r=360p&volume=100&start_res=360p&i=m&asset_domain=s3-p.animoto.com&animoto_domain=animoto.com&options="
          allowfullscreen></iframe>
      </div>
      <div class="col-md-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d241317.1161001865!2d72.74109818196708!3d19.082197838241274!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c6306644edc1%3A0x5da4ed8f8d648c69!2sMumbai%2C+Maharashtra!5e0!3m2!1sen!2sin!4v1511700471215"
          width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>

    <div class="row">
      <div class="col-md-9">
        <tabset>
          <tab title="About">asdadsasda
          </tab>
          <tab title="Reviews & Rating">
          </tab>

        </tabset>
      </div>

      <div class="col-md-3">
        <div class="callEnq">
          <i class="fa fa-phone" aria-hidden="true"></i>
          <span>
            +91-8898-443344
          </span>
        </div>

        <form class="contactUs">
          <h2>Contact Us</h2>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Enter Name">
            <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
          </div>
          <div class="form-group">
            <input type="email" class="form-control" placeholder="Enter Email">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Enter Contact No.">
          </div>

          <div class="form-group">
            <textarea name="" id="" cols="20" rows="5"></textarea>
          </div>
          <button type="submit" class="btn btn-fa">
            <i class="fa fa-check" aria-hidden="true"></i>Send Enquiry</button>
        </form>

      </div>
    </div>
  </div>
</div>
